/* Main CSS START */


.custom_section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 121px;
    gap: 246px;
    padding-top: 70px;
    max-width: 1920px;
}


.marty_icon {
    align-self: end;
}

.custom_section form {
    width: 100%;
    max-width: 540px;
    min-height: 585px;
    background: #FFFFFF;
    border-radius: 40px;
    box-shadow: 0px 4px 20px 0px #1DA99D33;
    padding: 16px 48px;
    position: relative;
    left: 13px;
}

.custom_section form h4 {
    font-family: "Mardoto-Medium";
    font-size: 30px;
    font-weight: 500;
    line-height: 35.16px;
    color: #000000;
    margin-top: 25px;
}

.custom_btn {
    padding-inline: 5px;
    width: 88px;
    height: 48px;
    border-radius: 8px 0px 0px 8px;
    border-right: 1px solid #D8D8D8
}

.form-check-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #212121;
}

.content__rezerv {
    margin-top: 19px;
}

.content__registr {
    font-family: "Mardoto-Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: left;
    color: #212121;
}

.sign_up_form {
    width: 100%;
    min-height: 45px;
    background: #1DA99D;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
}

.custom-input_form {
    border: none;
    box-shadow: 0px 0px 8px 0px #0000001A;
    height: 50px;
}

.mb_custom_for_sing_btn {
    margin-bottom: 30px;
}

.custom-bnt_country_code {
    width: 88px;
    height: 50px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    box-shadow: 0px 0px 5px 0px #0000001A;
    border-right: 1px solid #D8D8D8;
    background-position: right 119px center;
}

.toggle-password {
    padding: 10px;
    border-left: 0;
    cursor: pointer;
}
.btn__log:hover{
    transition: .3s ease 0s;
    background: #67B7B1;
}
.btn__log:active{
    transition: .1s ease 0s;
    background: #268E83;

}
.custom-input_form:focus-visible {
    outline: none;
    box-shadow: 0px 0px 10px 0px #1DA99D80;
}
.custom-input_form

.custom-input_form {
    border-radius: 08px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: #808080;
    padding: 15px 16px;
}

/* .form-control:focus {
    box-shadow: 0px 0px 8px 0px #0000001A;
} */

.form-check-input:focus {
    box-shadow: none;
}

.see_password {
    position: relative;
    top: -32px;
    left: 90%;
    z-index: 5;
    background-image: url('./img/eye_2.svg');
    background-size: cover;
    width: 22px;
    height: 19px;
}


/* Main CSS END */

#fill_in_the_data_Id,
#welcome_Id,
#logIn_Id,
#forgot_your_password,
#password_change,
#enter_the_code
/* #password_new  */
{
    /* display: flex; */
    display: none;
}
.text_to__pass,.new_texx_mb{
    margin-bottom: 40px;
}
.log_mb{
    margin-top: 40px;
}
/* For step 2 CSS START */



.textTitel {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.textTitel span {

    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
}

.container_for_chek {
    display: flex;
    justify-content: center;
    gap: 11px;
    margin-top: 14px;
}

.form-check {
    padding-left: 2.5rem;
}

.check_input {
    color: #1DA99D;
    border: 1px solid #1DA99D;
}

.form-check-input:checked {
    border: 5px solid #1DA99D;
    background-color: #ffffff;
}

#company_name_container {
    display: none;
}

.form-label {
    font-family: "Mardoto-Medium";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #212121;
}

.old__wrapper {
    display: flex;
    flex-direction: column;
    gap: 13px 0;
    margin-top: 20px;
}

button.sign_up_form.btn__log {
    font-family: "Mardoto-Medium";
    margin-top: 28px;
    margin-bottom: 26px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;

}

/* For step 2 CSS END */

/* For step 2 CSS START */

.container_forgotPassword {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


/* Cheack BOX START */
.main_check {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: unset;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;

}

input[type=checkbox] {
    visibility: hidden;
}

.geekmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    border: 1px solid #1DA99D;
}


.main_check input:checked~.geekmark {
    background-color: #1DA99D;
    border: none;
}

.geekmark:after {
    content: "";
    position: absolute;
    display: none;
}

.main_check input:checked~.geekmark:after {
    display: block;
}

.main_check .geekmark:after {
    left: 8px;
    bottom: 6px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Cheack BOX END */


.container_forgotPassword span {
    font-size: 14px;
    font-weight: 400;
    line-height: 25.41px;
    text-align: left;
    color: #000000;
}

.h_size_login {
    min-height: 440px !important;
}

/* For step 2 CSS START */


/* For step forgot_your_password CSS START */
.forgot_span {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #808080;
}

.gap_unset_custom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
    gap: unset;
}

.marty_icon_special {
    align-self: center;
    position: relative;
    left: 10px;
}

.h_size_login_sm {
    min-height: 345px !important;
}

.one_img {
    width: 152px;
    height: 152px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.one_new_paswword_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* For step forgot_your_password CSS END */


.form-check-input {
    margin-top: 0;
}


.change__response{
    display: none;
}
.to_bot{
    margin-top: 30px;
}


@media (max-width: 1570px) {
    .custom_section {
        gap: 97px;
        justify-content: center;
        padding-inline: 135px;
    }

    .gap_unset_custom {
        justify-content: center !important;
        gap: 0;
    }

    .custom_section form {
        position: unset;
    }

    .custom_section form h4 {
        font-family: "Mardoto-Medium";
        font-size: 24px;
    }
}

@media screen and (max-width:1280px) {
    .custom_section {
        padding-inline: 50px;
    }
}

@media screen and (max-width:968px) {
    .marty_icon {
        width: 165px;
        height: 247px;
    }

    .custom_section form {
        max-width: 505px;
        min-height: 600px;
    }
}

@media screen and (max-width:845px) {
    .pass_wrap{
        margin-top: 80px;
    }
    .gap_unset_custom{
        gap: 0 !important;
    }
    .none__tom{
        display: none;
    }
    .change__response{
        display: block;
    }
    .custom_section {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 10px;
        gap: 10px;
    }

    .custom_section form {
        margin: auto;
    }

    .marty_icon {
        width: 57px;
        height: 85px;
    }
    img.change__response {
        position: relative;
        left: 167px;
        margin-top: 15px;
    }
}
@media screen and (max-width:770px) {
    img.change__response {
        left: 127px;
    }
}
@media screen and (max-width:700px) {
    img.change__response {
        left: 84px;
    }
}
@media screen and (max-width:678px) {
    .custom_section {
        padding-inline: 24px;

    }
    .pass_wrap{
        margin-top: 70px;
    }
}

@media screen and (max-width:540px) {
    .pass_wrap{
        margin-top: 60px;
    }
    img.change__response {
        left: 110px;
    }
    .custom_section {
        margin-bottom: 60px;
        padding-inline: 0;
    }

    .custom_section form {
        max-width: 380px;
        min-height: 561px;
        padding: 16px 10px;
    }

    .custom-input_form {
        height: 45px;

    }

    .form-check {
        padding-left: 1.5rem;
    }
}
@media screen and (max-width:390px) {
    img.change__response {
        left: 12px;
    }
    .custom_section form{
        width: 100%;
        max-width: none;
        border-radius: 0;
    }
    .container_for_chek{
        flex-direction: column;
        gap: 0;
    }
}