.navbar {
    margin-bottom: 0px;
}

.shops {
    padding-left: 250px;
    border-bottom: 1px solid #1DA99D;
}

.innShop {
    display: flex;
    justify-content: space-between;
    min-height: 700px;
}

.leftShop {
    margin-top: 224px;
    max-width: 788px;
    width: 100%;
}

.leftShop h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 70.31px;
    text-align: left;
    color: #000000;
}

.rightShop {
    height: 700px;
}

/* this end  */

/* shopping sect st */

.shopping {
    padding-inline: 250px;

}

.searchInp {
    display: flex;
    justify-content: flex-end;
    max-width: 376px;
    width: 100%;
    height: 42px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px #00000033;
    margin-top: 80px;
    margin-left: auto;
    margin-bottom: 30px;
}

.searchInp>form,
label,
input {
    width: 100%;
    height: 100%;
}

.searchInp label {
    display: flex;
    align-items: center;
    padding-left: 16px;

}

.searchInp label img {
    width: 16px;
    height: 16px;
}

.searchInp label input {
    border: none;
    padding-inline: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #636363;
}

.searchInp label input:focus {
    outline: none;
}

/* shopping sect end */

/* brands sect st */
.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 185px;
}

.mainDiv {
    max-width: 340px;
    width: 100%;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    padding-block: 30px;
    padding-inline: 30px;
}
.imageDv{
    margin-bottom: 30px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDiv p {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}

.mainDiv span {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: #000000;
}




/* brands sect end */