/* .slider_content {
    width: 100%;
    min-height: 700px;
} */

.navbar {
  margin-bottom: unset !important;
}

.slid_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 36vw;
  background-image: url(./img_home/HomePageView1920.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.slid_1 h1 {
  position: relative;
  left: 254px;
  top: -15px;
  width: 100%;
  max-width: 788px;
  font-size: 60px;
  font-weight: 500;
  line-height: 68.31px;
  text-align: left;
  color: #000000;
}

.section_2 {
  width: 100%;
  min-height: 445px;
  background: #fbfbfb;
  margin-bottom: 100px;
  padding-inline: 150px;
}

.main_section_2 {
  padding-top: 130px;
}

.main_section_2 h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  text-align: center;
  color: #000000;
  padding-bottom: 40px;
}

.container_section_2 {
  width: 100%;
  max-width: 1420px;
  margin: auto;
  display: flex;
}

.steps {
  width: 100%;
  max-width: 224px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.steps img {
  width: 75px;
  height: 75px;
}

.steps h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  text-align: center;
  color: #161920;
}

.steps span {
  width: 100%;
  max-width: 224px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  color: #889196;
}

.line_arrow {
  width: 100%;
  max-width: 470px;
  background-image: url(./img_home/line_arrow.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.line_arrow_1 {
  position: relative;
  top: -50px;
  width: 100%;
  max-width: 470px;
  background-image: url(./img_home/line_arrow_1.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.section_3 {
  width: 100%;
  background: #fbfbfb;
  padding-inline: 150px;
}

.main_section_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 170px;
}

.titel_section_3 img {
  width: 129px;
  height: 109px;
}

.titel_section_3 h1 {
  align-self: center;
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  text-align: center;
}

.titel_section_3 {
  display: flex;
}

/* inputs buy for user START */
form {
  width: 100%;
}

.buy_link {
  width: 100%;
  max-width: 1420px;
  box-shadow: 0px 0px 15px 2px #1da99d80;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 40px 30px;
  gap: 31px;
}

.product_adds {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.buy_for_mr_bnt {
  align-self: flex-end;
  background: #1da99d;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 100%;
  max-width: 330px;
  min-height: 50px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
}

.titel_label {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #212121;
}

.input_group {
  display: flex;
  justify-content: space-between;
}

.input_container {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 8px;
}

.name_input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: #929292;
  border: none;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 0px 8px 0px #00000033;
}
.name_input:focus {
  outline: none;
  box-shadow: 0px 0px 10px 0px #1da99d80;
}

.link_input {
  width: 69%;
}

.add_bnt {
  width: 4%;
  height: 50px;
  background-image: url("./img_home/btn_add.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  align-self: end;
}

.del_btn {
  background-image: url("./img_home/del_btn.svg") !important;
}

.section_4 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 170px;
  padding-inline: 150px;
}

.section_4 h1 {
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  text-align: center;
  text-align: center;
}

.section_4_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1413px;
  margin: auto;
}

.placees {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1da99d;
  border-radius: 8px 8px 0px 0px;
  min-height: 60px;
  padding-inline: 30px;
}

.costom_size {
  width: 300px;
}

.placees_custom_gray {
  border-radius: unset;
  background: #f2f2f2;
}

.placees_custom_white {
  border-radius: unset;
  background: #fbfbfb;
}

.placees_custom_gray span,
.placees_custom_white span {
  color: #000000 !important;
}

.placees span {
  font-size: 20px;
  font-weight: 600;
  line-height: 23.44px;
  color: #ffffff;
}

.costom_for_days {
  width: 445px;
  text-align: start;
}

.info_icon {
  width: 22px;
  height: 20px;
  align-self: center;
}

.section_5 {
  width: 100%;
  min-height: 600px;
  background: #1da99d;
  margin-bottom: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 150px;
}

.to_see_map {
  width: 100%;
  max-width: 1420px;
  display: flex;
  justify-content: space-between;
}

.text_bnt_container,
.text_section_5 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: center;
}

.text_section_5 {
  gap: 10px !important;
}

.text_section_5 h2 {
  color: #fbfbfb;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  text-align: left;
}
.text_section_5 span {
  max-width: 378px;
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
}
.text_bnt_container button {
  width: 100%;
  max-width: 331px;
  min-height: 50px;
  background: #67b7b1;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  border-radius: 8px;
}

.video_content_steps {
  position: relative;
  left: 47px;
  top: 12px;
  width: 100%;
  max-width: 48.854vw;
  height: 42vw;
  background-image: url(./img_home/Marty_video_steps.png);
  background-size: 100% 97%;
  background-position: center;
  background-repeat: no-repeat;
}

.section_7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 103px;
  padding-inline: 150px;
}

.section_7 h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  text-align: center;
  color: #000000;
}

.marty_img_size {
  align-self: center;
  width: 237px;
  height: 280px;
}

.shops_container img {
  width: 220px;
  height: 124px;
}

.conatiner_section_7 {
  display: flex;
  justify-content: center;
}

.shops_container {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1180px;
  flex-wrap: wrap;
}

.section_7 button {
  width: 219px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background: #1da99d;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: #ffffff;
}

.section_8 {
  width: 100%;
  min-height: 500px;
  background: #f1f1f1;
  padding-top: 80px;
  padding-inline: 150px;
}

.section_8 h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}

.main_section_8 {
  width: 100%;
  max-width: 1420px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.container_section_8 {
  width: 100%;
  max-width: 742px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.item_section_8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.item_section_8 span {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  text-align: left;
  color: #000000;
}

hr {
  width: 100%;
  max-width: 1420px;
  margin: auto;
  color: #1da99d;
  border: 1px solid #1da99d;
  margin-top: 10px;
  margin-bottom: 14px;
}

.text_info {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  color: #3f3939;
}

/* The responsive 1920px - 320px START */

@media (max-width: 1440px) {
  .slid_1 h1 {
    position: relative;
    left: 150px;
    top: 25px;
    width: 100%;
    max-width: 570px;
    font-size: 40px;
    font-weight: 500;
    line-height: 49.31px;
  }
  .slid_1 {
    height: 37.5vw;
  }
  .main_section_2 {
    padding-top: 110px;
  }

  .to_see_map {
    max-width: 1135px;
  }

  .section_1 {
    margin-bottom: 10px;
  }

  .main_section_3 {
    margin-bottom: 145px;
  }

  .section_2 {
    max-width: 1342px;
    padding-inline: 100px;
    margin: auto;
    margin-bottom: 70px;
  }

  .section_3 {
    padding-inline: 100px;
    margin: auto;
    max-width: 1340px;
  }

  .section_4 {
    max-width: 1338px;
    margin: auto;
    padding-inline: 100px;
    margin-bottom: 155px;
  }
  .video_content_steps {
    max-width: 47.854vw;
    height: 41vw;
  }

  .section_5 {
    margin-bottom: 120px;
    padding-inline: 100px;
  }

  .section_7 {
    margin-bottom: 103px;
    max-width: 1340px;
    padding-inline: 100px;
    margin: auto;
    margin-bottom: 140px;
  }

  .main_section_8 {
    max-width: 1140px;
  }

  .section_8 {
    padding-inline: 100px;
  }
  .container_section_8 {
    max-width: 580px;
  }

  .shops_container img {
    width: 170px;
    height: 100px;
  }
  .marty_img_size {
    width: 175px;
    height: 216px;
  }

  .shops_container {
    justify-content: center;
  }

  .text_info {
    max-width: 1230px;
    padding-inline: 64px;
  }
}

@media (max-width: 1280px) {
  .slid_1 {
    background-size: 115%;
    height: 42.188vw;
  }
  .section_2 {
    margin-bottom: 80px;
  }

  .video_content_steps {
    max-width: 53.854vw;
    height: 45vw;
  }

  .shops_container img {
    width: 160px;
  }

  .section_7 {
    gap: 35px;
  }
}

@media (max-width: 968px) {
  .slid_1 {
    background-size: 120%;
    height: 44.421vw;
  }

  .slid_1 h1 {
    left: 100px;
    top: 0px;
    max-width: 423px;
    font-size: 30px;
    line-height: 35px;
  }

  .main_section_2 h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35.16px;
  }

  .section_2 {
    max-width: 885px;
  }

  .steps h3 {
    width: 160%;
  }

  .steps span {
    width: 170%;
  }

  .line_arrow {
    position: relative;
    background-size: 322%;
    top: -57px;
    left: 24px;
  }
  .line_arrow_1 {
    background-size: 240%;
    top: -64px;
  }

  .input_group {
    display: grid;
    width: 100%;
    justify-content: unset;
    gap: 2px 50px;
  }

  .input_container {
    width: 103%;
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .link_input {
    width: 100%;
    grid-column: 1 / span 6;
    grid-row: 2 / span 2;
  }

  .add_bnt {
    width: 100%;
    grid-row: 2 / span 2;
  }

  .buy_link {
    padding: 35px 30px;
  }

  .section_2 {
    margin-bottom: 30px;
  }

  .titel_section_3 img {
    width: 77px;
    height: 65px;
  }

  .main_section_3 {
    gap: 25px;
  }

  .titel_section_3 h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35.16px;
    text-align: center;
  }

  .main_section_3 {
    margin-bottom: 123px;
  }

  .section_4 h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35.16px;
    text-align: center;
  }

  .price_size {
    width: 100px;
  }

  .section_4 {
    max-width: 1338px;
    margin: auto;
    padding-inline: 100px;
    margin-bottom: 120px;
  }

  .section_5 {
    padding-inline: unset;
    padding-left: 100px;
    padding-right: 30px;
  }

  .text_section_5 h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35.16px;
  }

  .text_section_5 span {
    width: 39vw;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
  }
  .conatiner_section_7 {
    display: flex;
    justify-content: center;
    align-self: baseline;
  }

  .shops_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }

  .section_8 h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35.16px;
  }

  .main_section_8 img,
  .container_section_8 img {
    width: 108px;
    height: 180px;
  }
  .container_section_8 {
    max-width: 463px;
    height: 144px;
  }

  hr {
    margin-top: 62px;
    margin-bottom: 14px;
  }
  .text_info {
    padding-inline: unset;
  }

  .section_7 {
    gap: 46px;
  }
  .section_7 h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 35.16px;
  }

  .conatiner_section_7 {
<<<<<<< HEAD
    max-width: 778px;
    overflow: hidden;
    align-self: unset;
=======
    max-width: 78.306vw;
    overflow: hidden;
    align-self: self-start;
>>>>>>> e1b8c69f899686a9bae7b8b49c19a252fbd2b691
  }
  .marty_img_size {
    z-index: 1;
  }
  .shops_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    position: relative;
    max-width: 762px;
    width: 100%;
    overflow-x: auto;
    justify-content: flex-start;
  }

  .section_8 {
    margin-bottom: -30px;
    padding-top: 55px;
  }
}

<<<<<<< HEAD
=======
@media (max-width: 701px) {
  .line_arrow,
  .line_arrow_1 {
    background-image: url(./img_home/md_arrow.svg);
    max-width: 16px;
    height: 104px;
    background-size: 110%;
    position: unset;
  }
  .container_section_2 {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .section_2 {
    padding-inline: 50px;
  }

  .section_3 {
    padding-inline: 50px;
  }

  .section_4 {
    padding-inline: 50px;
    overflow: scroll;
  }

  .section_4_content {
    width: 785px;
  }

  .section_5 {
    padding-inline: 50px;
    padding-left: unset;
    padding-right: unset;
  }
  .section_5 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section_7 {
    padding-left: 50px;
    padding-inline: none;
  }
  .section_8 {
    padding-inline: 50px;
  }
  .slid_1 h1 {
    left: 45px;
  }
}

@media (max-width: 679px) {
  .video_content_steps {
    max-width: 53.854vw;
    height: 45vw;
    align-self: center;
  }
  .text_bnt_container,
  .text_section_5 {
    align-self: self-start;
  }
  .to_see_map {
    gap: 40px;
    flex-direction: column;
  }
  .marty_img_size {
    width: 90px;
    height: 212px;
  }

  .add_bnt {
    width: 198%;
    justify-self: end;
  }
  .conatiner_section_7 {
    max-width: 89.306vw;
  }
  .main_section_8 img,
  .container_section_8 img {
    width: 73px;
    height: 112px;
    align-self: end;
  }
  .main_section_8 {
    gap: 40px;
  }
}

>>>>>>> e1b8c69f899686a9bae7b8b49c19a252fbd2b691
.ItIsDis {
  display: none;
}
