.navbar {
    margin-bottom: 0px;
}

.aboutUs {
    border-bottom: 1px solid #1DA99D;
    display: flex;
    justify-content: flex-end;
}

.aboutInn {
    max-width: 1820px;
    width: 100%;
    padding-left: 150px;
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.abInLeft {
    max-width: 658px;
    width: 100%;
    min-height: 325px;
    display: flex;
    flex-direction: column;
    margin-top: 197px;
}

.abInLeft h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 70.31px;
    text-align: left;
    color: #000000;
    margin-bottom: 20px;
}

.abInLeft span {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    color: #263238;
    margin-bottom: 30px;
}

.abInLeft p {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
    color: #000000;
    margin-left: 25px;
    margin-bottom: 17px;
}

.abInLeft ul {
    margin-left: 56px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    list-style-image: url(../img/ulLi.svg);
}

.abInnRight {
    height: 700px;
}

.martyMain14 {
    display: none;
}



/* first sel end */



/* second select st */

.marty {
    padding-inline: 150px;
    display: flex;
    justify-content: center;
}

.martyInn {
    max-width: 1420px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 943px;
    gap: 50px;
}

.mInnLeft {
    border-radius: 20px;
    margin-top: 150px;
}

.mInnRight {
    max-width: 710px;
    width: 100%;
    margin-top: 334px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.mInnRight p {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;
    color: #000000;

}

.mInnRight span {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    color: #000000;

}




@media (max-width: 1440px) {

    .aboutInn {
        min-height: 530px;
    }

    .abInLeft {
        margin-top: 119px;
    }

    .abInLeft {
        max-width: 522px;
    }

    .abInLeft h1 {
        font-size: 40px;
        line-height: 46.88px;
        margin-bottom: 10px;
    }

    .abInLeft ul {
        gap: 12px;
    }

    .abInLeft span {
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        margin-bottom: 40px;
    }



    .mInnRight span {
        font-size: 16px;
        line-height: 18.75px;

    }

    .martyMain19 {
        display: none;
    }

    .martyMain14 {
        display: block;
    }


    /* sec sect start */
    .martyInn {
        min-height: 774px;
        gap: 20px;

    }

    .mInnLeft {
        border-radius: 20px;
        margin-top: 90px;
        max-width: 560px;
        width: 100%;
        height: 560px;
    }
    .mInnLeft img{
        width: max-content;
        max-width: 560px;
    }


    .mInnRight {
        margin-top: 252px;
    }

}