/* Footer CSS START */
footer {
  width: 100%;
  background: #1da99d;
  color: #ffff;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}

.footer_container {
  width: 100%;
  max-width: 1720px;
  display: grid;
  grid-template-columns: auto auto auto 195px;
  padding-inline: 150px;
}

.footer_col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer_col ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
}

.footer_col h3,
.pay_container h3,
.social_container h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: left;
}

.to_right {
  position: relative;
  right: 27px;
}

.footer_col ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
  color: #ffffff;
}

.footer_col_pay {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.pay_container,
.social_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer_nav_bar li {
  list-style-type: none;
}

.logo_icon_footer {
  width: 148px;
  height: 195px;
}

.tel_num {
  list-style-type: none;
  list-style-image: url("../img/tel_phon.png");
  text-decoration: none;
}

.email_num {
  list-style-type: none;
  list-style-image: url("../img/email_num.png");
  text-decoration: none;
}

.map_num {
  list-style-type: none;
  list-style-image: url("../img/map_num.png");
  text-decoration: none;
}

.time_num {
  list-style-type: none;
  list-style-image: url("../img/time_num.png");
  text-decoration: none;
}

.contact_us li a {
  position: relative;
  top: -5px;
}

.pay_cards {
  display: flex;
  gap: 10px;
}

.facebook {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/facebook.svg");
  background-size: cover;
  background-position: center;
  text-indent: -9999px;
}

.instagram {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../img/instagram.svg");
  background-size: cover;
  background-position: center;
  text-indent: -9999px;
}

.content_social {
  display: flex;
  gap: 24px;
}

.low_footer {
  width: 100%;
  background: #268e83;
  gap: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-block: 14px;
}

.low_bar_content {
  display: flex;
  gap: 10px;
}

.low_bar_content li {
  list-style-type: none;
}

.low_bar_content li a {
  color: #ebebeb;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: center;
}

.low_footer h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: left;
}

.shtix {
  width: 2px;
  background-image: url("../img/Lineik.png");
  background-size: cover;
}

/* Footer CSS END */

/* The responsive 1920px - 320px START */

@media (max-width: 1440px) {
  .footer_col h3,
  .pay_container h3,
  .social_container h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
  }

  .footer_col ul li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
  }

  .footer_container {
    padding-inline: 100px;
    max-width: 1335px;
    grid-template-columns: 250px auto auto 195px;
  }

  .footer_col ul {
    gap: 7px;
  }
}

@media (max-width: 1280px) {
  .footer_container {
    padding-inline: 100px;
    max-width: 1335px;
    grid-template-columns: 243px auto auto 195px;
  }
  .section_8 {
    margin-bottom: -17px;
  }
  .footer_col {
    gap: 20px;
  }

  .footer_col_pay {
    gap: 30px;
  }
}
@media (max-width: 1025px) {
  .footer_container {
    grid-template-columns: 180px auto auto 195px;
  }
}

@media (max-width: 968px) {
  .footer_container {
    grid-template-rows: auto auto;
    grid-template-columns: 29.595vw auto 190px;
    gap: 30px 0px;
  }
  .footer_col {
    grid-row: 2;
  }

  .footer_col_pay {
    gap: 40px;
    grid-row: 2;
    align-items: end;
    justify-content: flex-start;
  }

  .logo_icon_footer {
    width: 80px;
    height: 105px;
    grid-column: 2;
    justify-self: center;
    position: relative;
    right: 50px;
  }
  .pay_container,
  .social_container {
    gap: 15px;
  }

  footer {
    gap: 35px;
  }
}

@media (max-width: 701px) {
  .footer_container {
    padding-inline: 50px;
  }
  .low_bar_content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 679px) {
  .footer_col {
    grid-row: 3;
    justify-self: end;
  }
  .footer_col_pay {
    flex-direction: unset;
  }
  .footer_container {
    grid-template-columns: 29.595vw auto;
  }

  .footer_col_pay {
    width: 100%;
    gap: 40px;
    grid-column: 2;
    grid-row: 2;
    justify-content: space-between;
    position: relative;
    right: 135px;
  }
  .logo_icon_footer {
    right: 110px;
  }
}
