a {
    text-decoration: none;
}

ul {
    list-style: none;
}



.navbar {
    padding-block: 0px;
    margin-bottom: 70px;
}

.contTop {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding-inline: 250px;
}



.topLeftNav {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    align-items: center;
    min-height: 80px;

}

.number {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: Mardoto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    margin-right: 0;
}

.topLeftNav button {
    height: 45px;
    top: 18px;
    border-radius: 8px;
    opacity: 0px;

}

.signBut {
    max-width: 94px;
    width: 100%;
    border: 1px solid #1DA99D;
}

.signBut a {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    color: #1DA99D;
}


.logoParent a img {
    padding-block: 4px;
}



.regBut {
    max-width: 126px;
    width: 100%;
    background-color: #268E83;
    border: none;

}

.regBut a {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.contBot {
    width: 100%;
    background-color: #1DA99D;
}

.contBotInn {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding-inline: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contBotInn ul {
    display: flex;
    justify-content: space-between;
    max-width: 637px;
    width: 100%;
    height: 30px;
    align-items: center;
}

.contBotInn ul li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: center;
    color: #FBFBFB;
}

.vert {
    height: 100%;
    border: 1px solid #FFFFFF33
}

.liMen button {
    border: none;
    background-color: transparent;
    display: flex;
    gap: 10px;
    align-items: center;
}

.eventRig {
    max-width: 203px;
    display: flex;
    /* justify-content: space-between; */
    height: 40px;
    gap: 26px;

}

.selDiv {
    width: 66px;
    height: 40px;
    border-radius: 8px;
    background-color: #67B7B1;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding-inline: 10px;
    border: none;
}

.counter {
    width: 111px;
    height: 40px;
    border-radius: 8px;
    background-color: #67B7B1CC;
    display: flex;
    align-items: center;
    gap: 6px;
    padding-inline: 10px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: center;
    color: #FFFFFF;
}