a {
    text-decoration: none;
}

ul {
    list-style: none;
}



.navbar {
    padding-block: 0px;
    margin-bottom: 70px;
}

.contMainTop {
    width: 100%;
    padding-inline: 150px;
    display: flex;
    justify-content: center;
}

.contTop {
    max-width: 1420px;
    width: 100%;
}



.topLeftNav {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    align-items: center;
    min-height: 80px;

}

.number {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: Mardoto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}

.topLeftNav button {
    height: 45px;
    top: 18px;
    border-radius: 8px;
    opacity: 0px;

}

.signBut {
    max-width: 94px;
    width: 100%;
    border: 1px solid #1DA99D;
}

.signBut a {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    color: #1DA99D;
}


.logoParent a img {
    padding-block: 4px;
}



.regBut {
    max-width: 126px;
    width: 100%;
    background-color: #268E83;
    border: none;

}

.regBut:hover {
    background-color: #67B7B1;
}

.regBut:active {
    background-color: #268E83;
}

.regBut a {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.contBot {
    width: 100%;
    background-color: #1DA99D;
    height: 90px;
    display: flex;
    justify-content: center;
}

.contBotInn {
    max-width: 1720px;
    width: 100%;
    padding-inline: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contBotInn ul {
    display: flex;
    justify-content: space-between;
    /*   gapi tex */
    max-width: 637px;
    width: 100%;
    height: 30px;
    align-items: center;
    margin-left: 160px;
    margin-top: unset;
    margin-bottom: unset;
    /* gap: 22px; */
}

.contBotInn ul li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: center;
    color: #FBFBFB;
}

.vert {
    height: 100%;
    border: 1px solid #FFFFFF33
}

.liMen button {
    border: none;
    background-color: transparent;
    display: flex;
    gap: 10px;
    align-items: center;
}

.eventRig {
    max-width: 203px;
    display: flex;
    /* justify-content: space-between; */
    height: 40px;
    gap: 26px;
    flex-direction: row-reverse;

}

.selDiv {
    width: 66px;
    height: 40px;
    border-radius: 8px;
    background-color: #67B7B1;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding-inline: 10px;
    border: none;
    position: relative;
}

.selDiv:active {
    background-color: #268E83;
}

.langDv {
    width: 66px;
    height: 80px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 140px;
    display: none;
}

.langDv button {
    height: 40px;
    border: none;
    background-color: #67B7B1;
    padding-right: 26px;
    padding-left: 10px;
}

.langDv button:hover {
    background-color: #268E83;
}

.counter {
    width: 111px;
    height: 40px;
    border-radius: 8px;
    background-color: #67B7B1CC;
    display: flex;
    align-items: center;
    gap: 6px;
    padding-inline: 10px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: center;
    color: #FFFFFF;
}
#allCountry {
    /* max-width: 112px; */
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: none;
    background-color: #FBFBFB;
        /* background-color: #1DA99D; */
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: center;
    color: #212121;
    padding-inline: 14px;
}




/* calculator st */
.counter:hover {
    color: #FFFFFF;
    background-color: #67B7B1CC;
    border-color: none;
}

.counter:active {
    border-color: unset;
    box-shadow: unset !important;
    background: #67B7B1CC;

}

.counter:focus {
    border-color: unset;
    box-shadow: unset !important;
    /* background-color: unset; */
    background: #67B7B1CC;

}

.countOpened {
    max-width: 558px;
    margin: 250px auto;
}

.countOpInn {
    max-width: 558px;
    width: 100%;
    min-height: 440px;
    border-radius: 8px;
    margin: unset;
}



.sendCount {
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: left;
    color: #000000;
}

.btn-close {
    background: unset;
}

.btn-close:focus {
    box-shadow: unset !important;
    opacity: unset;
}

.opInnFirst {
    padding: 24px 24px;
    position: relative;
    border-bottom: none;
    margin-bottom: 50px;
}



.opInnSec {
    max-width: 446px;
    width: 100%;
    height: 44px;
    position: unset;
    display: flex;
    justify-content: space-between;
    flex: unset;
    padding: unset;
    padding-inline: 40px;
    margin-bottom: 50px;

}

#countrySet {
    border: none;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #1DA99D80;
    border-radius: 4px;

}

.opInnThrd {
    max-width: 292px;
    width: 100%;
    height: 79px;

}

.opInnThrd form {
    padding-inline: 40px;

}

.opInnThrd label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
    color: #000000;
}

.opInnThrd input {
    height: 52px;
    padding-left: 16px;
    padding-block: 16px;
    border: 1px solid #D8D8D8;
    border-radius: 8px;
    box-shadow: unset;
}

.opInnThrd input:focus-visible {
    outline: none;
    box-shadow: 0px 0px 10px 0px #1DA99D80;

}

.opInnThrd {
    margin-bottom: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.pageLogo12 {
    display: none;
}

/* calculator end */

/* media start */
@media(max-width:1440px) {
    .contBotInn ul {
        margin-left: 65px;
    }

    .contTop {
        max-width: 1140px;
        width: 100%;
    }

    .contMainTop {
        width: 100%;
        padding-inline: 100px;
    }

    .contBotInn {
        max-width: 1340px;
        padding-inline: 100px;
    }
}


@media(max-width:1280px) {
    .contBotInn ul {
        margin-left: -3px;
    }

    .contBotInn ul {
        justify-content: space-between;
        max-width: 615px;
    }
    .contBotInn {
        gap: 20px;
    }
    .contBot {
        height: 80px;
    }

    .pageLogo19 {
        display: none;
    }

    .pageLogo12 {
        display: block;
    }

    .contBotInn ul li a {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.09px;

    }
    .langDv {
        top: 135px;
    }
}